.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  ul {
    padding: none;
    list-style: none;
  }

}


