.grid {
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card {
  position: relative;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      // text-decoration: underline;
      text-shadow: 2px 2px 4px rgba(0,0,0,.6);
    }
  }

  ul {
    padding: none;
    list-style: none;
  }

  i {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

// .sticky {
//   position: sticky;
//   top: 0;
// }


