.ban-index {
  background-image: url('https://images.unsplash.com/photo-1521247560470-d2cbfe2f7b47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib');
  padding-top: 128px;
  padding-bottom: 0px;
  box-shadow: 0 16px 16px rgba(0,0,0,0.5);
  position: sticky;
  top: -128px;
  z-index: 2;
  margin-bottom: 16px;

  p {
    padding-bottom: 24px;
  }
}

.flexit {
  display: flex;
  justify-content: space-between;
}

.grid {
  flex-grow: 1;
  margin: 0 16px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .img-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 2px 2px 8px black;
    }
  }

  .basic-info {
    h3 {
      margin: 0
    }
    p {
      font-weight: lighter;
    }
  }

  p {
    color: black;
  }
  .right {
    width: 100%;
    text-align: right;
  }
}

a .card {
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  &:hover {
      box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
      .basic-info {
        text-shadow: 1px 1px 3px #FEB935;
      }
  }
}

@media(max-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 650px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

