  
.wrapper-dog-show {
  min-height: 80vh;
}



// Hero
.container-dog-show-hero {

}

.dog-show-hero-image {
  margin-top: 15px;
  background-size: cover !important;
  background-position: center;
  height: 600px;
  border-radius: 10px 10px 0px 0px;
}



//info + booking
.container-dog-show-info {
  position: relative;
  padding-top: 0px;
  }

.row-dog-show-back {
  position: absolute;
  z-index: 1;
  left: 45px;
}

.row-dog-show-info {
  padding: 10px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: white;
}

.dog-show-infos {
  background-color: white;
  height: auto;
  font-weight: bold;
  p {
  }
  h2 {
    margin-top: 10px;
  }
}

.dog-show-infos-avatar-name {
  font-weight: lighter;
  span {
    font-weight: bold;}
}


.dogs-show-details-description {
  h4 {
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
  }
  p {
    font-weight: lighter;
  }
}

// Booking
.dog-show-booking {
  height:450px !important;
  text-align: center;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.dog-show-price {
  font-size: 20px;
  h1 {
    line-height: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
  }
  span {
    font-size: 14px;
    margin: 10px;
  }
}

.dog-show-datepicker {
}

.dog-show-booking-links {
  height: 100px;
  // margin: 75px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  a {
    margin: 5px;
    width: 100px;
  }
}

.dog-show-owner-actions {
  border: 1px dashed rgb(200,200,200);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  p {
    font-size: 12px;
    color: rgb(200,200,200);
  }
  a {
    width: 90px;
    height: 35px;
  }
}




// reviews
.container-dog-show-reviews {
  margin-bottom: 40px;
}
.row-dog-show-reviews {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}
.dog-show-reviews {
  height: auto;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  h3 {
    font-size: 24px;
    margin-top: 0px;
  }
  a {
    margin-left: 10px;
  }
}