<div class="banner sticky">
  <h1>Look at the dogs</h1>
</div>
<div class="grid">
  <% @dogs.each do |dog| %>
<!--    link_to dog_path(dog.id) do -->
    <div class="card">
      <div>
        <h3><%= dog.name %></h3>
        <p><%= dog.category %></p>
      </div>
      <p>City: <%= dog.city %></p>
        <%= link_to dog_path(dog), id: "remove", data: { method: :delete } do %>
          <i class="fas fa-times"></i>
        <% end %>
    </div>
  <!--  end  -->
  <% end %>
</div>
