<div class="banner">
  <h1>Look at the dogs</h1>
</div>
<div class="grid">
  <% @dogs.each do |dog| %>
    <div class="card">
      <h3><%= dog.name %></h3>
      <ul>
        <li>Type of Support: <%= dog.category %></li>
        <li>Location: <%= dog.city %></li>
        <%= link_to dog_path(dog), id: "remove", data: { method: :delete } do %>
          <i class="far fa-minus-square"></i>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
