<%= simple_form_for [@dog, @booking] do |f| %>
  <%= f.error_notification %>

  <%= f.input :date, input_html: {class: "datepicker"},
    placeholder: "yyyy-mm-dd" %>

  <div class="form-actions">
    <%= f.button :submit, "Book now", class: "btn btn-info btn-lg" %>
  </div>
<% end %>