<%= simple_form_for [@dog, @booking] do |f| %>
  <%= f.error_notification %>

  <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>

  <div class="form-actions">
    <%= f.button :submit, "Book now", class: "btn btn-info btn-lg" %>
  </div>
<% end %>