<h1>My Bookings</h1>

<ul>
<% @bookings.each do |booking| %>
  <li><%= booking.dog.name %> - <%= booking.date %> -
     <%= booking.dog.user.first_name %>  <%= booking.dog.user.last_name %></li>
  <% end %>
</ul>